* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background-color: #323445;
}

.Profil {
    margin-top: 50px;
    text-align: center;
    font-family: 'Open Sans' ,sans-serif;
    color: whitesmoke;
    font-size: 30px;
}

img {
    margin-top: 50px;
    width: 310px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid whitesmoke;
}

.Intro {
    margin-top: 30px;
    color: whitesmoke;
    text-align: center;
    line-height: 25px;
}